body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFC38B;
  color: #4D3E3E;
  font-size: 16px;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
textarea {
  width: 100%;
  height: 50px;
  padding: 10px 15px;
  border: 1px solid #fff3cd;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  color: #2633FF;
  font-size: 18px;
  font-weight: 500;
}
textarea{
  height: 150px;
}
input:last-child{
  margin-bottom: 0;
}
input[type="submit"]{
  background-color: #2633FF;
  border: none;
  transition: all .4s;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .5px;
  font-size: 15px;
  height: auto;
  display: inline-block;
  width: auto;
  padding: 18px 25px;
  margin-top: 10px;
  cursor: pointer;
}
input[type="submit"]:hover{
  background-color: #2633FF;
}
label {
  font-size: 25px;
  margin-bottom: 5px;
}
.submit-btn span {
  margin-left: 10px;
  max-width: 100%;
  font-weight: unset;
  font-size: 12px;
  line-height: 16px;
  font-family: sans-serif;
}
.form-inputs {
  max-width: 800px;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
}

.form-success-page h1 {
  color: green;
}
.form-success-page ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.form-success-page ul li{
  color: #333;
  font-weight: bold;
}
.progress-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  bottom: 0;
}
.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex
}
.navigation ul li {
  background-color: #2633FF;
  color: #fff;
  margin-left: 1px;
  padding: 9px 15px;
  display: inline-block;
  font-size: 25px;
  line-height: 20px;
  cursor: pointer;
}
.navigation ul li:first-child{
  margin-left: 0;
}
.progress-bar {
  width: 100%;
  background-color: #ccc;
  display: block;
  height: 5px;
  border-radius: 100px;
}
.progress-bar-content {
  flex: 1;
  max-width: 150px;
  margin-bottom: 12px;
  margin-right: 10px;
}
.progress-bar-content h4 {
  margin: 0;
  margin-bottom: 5px;
  color: #333;
  font-size: 12px;
}
.progress {
  background-color: #2633FF;
  display: block;
  height: 5px;
  border-radius: 100px;
  max-width: 100%;
}
.form-success-page {
  background-color: #fff;
  padding: 30px;
  border-radius: 3px;
}
.form-success-page h1 {
  margin-top: 0;
}